# MOJ Forms Tech Docs

## Who is this documentation for?
These Tech Docs are used and maintained by the MoJ Forms team and provide technical information for maintaining the services.

For more information on the product there is a [product website](https://moj-forms.service.justice.gov.uk).

## MOJ Forms Platform
MOJ Forms is a tool for creating and publishing digital forms using components from the GOV.UK Design System.

![alt text](/documentation/services/platform-overview.png "Logo Title Text 2")

The whole platform can be broken down into smaller parts.
<ul>
  <% sitemap.resources.select { |page| page.path =~ /html$/ }.each do |page| %>
    <% if page.data.category == "platform" %>
        <li>
            [<%= page.data.title %>](<%= page.url %>)
        </li>
    <% end %>
<% end %>
</ul>

## [How does MOJ Forms handle security?](/documentation/how-we-handle-security.html)
High level overview on what is in place to cover security concerns.

## [Github Repositories](/documentation/git-repos.html)
List of the github repositories for the MOJ Forms platform. Most are public, but some of these will be private.

## Runbooks
Procedures and operations that the MoJ Forms Tech Team carry out, these
can be used for reference also.
<ul>
  <% sitemap.resources.select { |page| page.path =~ /html$/ }.each do |page| %>
    <% if page.data.category == "runbooks" %>
        <li>
            [<%= page.data.title %>](<%= page.url %>)
        </li>
    <% end %>
<% end %>
</ul>

## FAQs
Frequently asked questions - if the answer you're looking for isn't here, try #ask-formbuilder on slack
<ul>
  <% sitemap.resources.select { |page| page.path =~ /html$/ }.each do |page| %>
    <% if page.data.category == "faqs" %>
        <li>
            [<%= page.data.title %>](<%= page.url %>)
        </li>
    <% end %>
<% end %>
</ul>

## [How We Work](/documentation/how-we-work.html)
Documentation on how the technical team works and the process for doing awesome work.

## [Incident Process](/documentation/so-you-are-having-an-incident.html)
Our process for managing incidents

##Architecture
#### Architecture Decision Records
To understand why we are recording decisions and how we are doing it, please see ADR-001.

<% sitemap.resources .select { |page| page.path =~ /html$/ } .select { |page| page.data.category == "adr" } .sort_by { |page| page.data.reference.to_s.downcase } .each do |page| %> 
    [<%= page.data.reference %> - <%= page.data.title %>](<%= page.url %>) <%= page.data.statusicon %>  (<%= page.data.status %>)
<% end %>

Statuses:
🤔 Proposed
✅ Accepted
❌ Rejected
♻️ Amended
⌛️ Superseded

#### [Architectural principles for MOJ Forms](/documentation/architectural-principles-for-form-builder.html)


## Legacy Form Builder (decommissioned)

[Jumping off point for the Legacy Form Builder Documentation](https://github.com/ministryofjustice/form-builder) [to be Archived]

[The Legacy Form Builder Guide and Runbook](https://github.com/ministryofjustice/fb-guide-and-runbook) [to be Archived]

## Updating the Tech Docs
* Write content tips
* run local
* Raise PR
* Merge

## More Information
* [MOJ Technical Guidance](https://ministryofjustice.github.io/technical-guidance/#moj-technical-guidance)
* [Cyber and Technical Security Guidance](https://ministryofjustice.github.io/security-guidance/#cyber-and-technical-security-guidance)
* [MOJ Acronyms](https://ministryofjustice.github.io/acronyms/)
