# MOJ Forms Tech Docs

## Who is this documentation for?
These Tech Docs are used and maintained by the MoJ Forms team and provide technical information for maintaining the services.

For more information on the product there is a [product website](https://moj-forms.service.justice.gov.uk).

## MOJ Forms Platform
MOJ Forms is a tool for creating and publishing digital forms using components from the GOV.UK Design System.

![alt text](/documentation/services/platform-overview.png "Logo Title Text 2")

The whole platform can be broken down into smaller parts.
<ul>
  <% sitemap.resources.select { |page| page.path =~ /html$/ }.each do |page| %>
    <% if page.data.category == "platform" %>
        <li>
            [<%= page.data.title %>](<%= page.url %>)
        </li>
    <% end %>
<% end %>
</ul>

## Github Repositories

### Platform (formbuilder-platform-*)

The parts of the system that authenticate, save user data, process uploads, virus scan and process submissions

- [fb-service-token-cache](https://github.com/ministryofjustice/fb-service-token-cache)
- [fb-user-filestore](https://github.com/ministryofjustice/fb-user-filestore)
- [fb-user-datastore](https://github.com/ministryofjustice/fb-user-datastore)
- [fb-pdf-generator](https://github.com/ministryofjustice/fb-pdf-generator)
- [fb-submitter](https://github.com/ministryofjustice/fb-submitter)
- [fb-av](https://github.com/ministryofjustice/fb-av)

### Base Adapter (fb-base-adapter-test)

- [fb-base-adapter](https://github.com/ministryofjustice/fb-base-adapter)

### Services (formbuilder-services-*)

- [fb-runner](https://github.com/ministryofjustice/fb-runner)

### SAAS (formbuilder-saas-*)

- [fb-editor](https://github.com/ministryofjustice/fb-editor)
- [fb-metadata-api](https://github.com/ministryofjustice/fb-metadata-api)

### Gems used by different Rails apps

- [fb-metadata-presenter](https://github.com/ministryofjustice/fb-metadata-presenter)
- [fb-jwt-auth](https://github.com/ministryofjustice/fb-jwt-auth)

### HMCTS Adapter (hmcts-complaints-formbuilder-adapter-*)

- [hmcts-complaints-formbuilder-adapter](https://github.com/ministryofjustice/hmcts-complaints-formbuilder-adapter)

### Acceptance Tests (Services/Forms)

- [fb-acceptance-tests](https://github.com/ministryofjustice/fb-acceptance-tests)

### Maintenance Page for all namespaces

- [fb-maintenance-page](https://github.com/ministryofjustice/fb-maintenance-page)

### Deployment configuration

The main deployment scripts used by all the repos:

- [fb-deploy](https://github.com/ministryofjustice/fb-deploy)

Then the corresponding deployment configuration for each repo:

- [fb-service-token-cache-deploy](https://github.com/ministryofjustice/fb-service-token-cache-deploy)
- [fb-user-filestore-deploy](https://github.com/ministryofjustice/fb-user-filestore-deploy)
- [fb-user-datastore-deploy](https://github.com/ministryofjustice/fb-user-datastore-deploy)
- [fb-pdf-generator-deploy](https://github.com/ministryofjustice/fb-pdf-generator-deploy)
- [fb-submitter-deploy](https://github.com/ministryofjustice/fb-submitter-deploy)
- [fb-av-deploy](https://github.com/ministryofjustice/fb-av-deploy)
- [fb-base-adapter-deploy](https://github.com/ministryofjustice/fb-base-adapter-deploy)
- [fb-editor-deploy](https://github.com/ministryofjustice/fb-editor-deploy)
- [fb-metadata-api-deploy](https://github.com/ministryofjustice/fb-metadata-api-deploy)
- [hmcts-complaints-formbuilder-adapter-deploy](https://github.com/ministryofjustice/hmcts-complaints-formbuilder-adapter-deploy)


### Alerting and monitoring

- [fb-monitoring](https://github.com/ministryofjustice/fb-monitoring)

### MoJ Forms

- [moj-forms-tech-docs](https://github.com/ministryofjustice/moj-forms-tech-docs)
- [formbuilder-product-page](https://github.com/ministryofjustice/formbuilder-product-page)

### Legacy System

- [fb-runner-node](https://github.com/ministryofjustice/fb-runner-node)
- [fb-client](https://github.com/ministryofjustice/fb-client)
- [fb-editor-node](https://github.com/ministryofjustice/fb-editor-node)
- [fb-transformers](https://github.com/ministryofjustice/fb-transformers)
- [fb-components](https://github.com/ministryofjustice/fb-components)
- [fb-editor-console-electron](https://github.com/ministryofjustice/fb-editor-console-electron)
- [module-alias](https://github.com/ministryofjustice/module-alias)
- [fb-publisher](https://github.com/ministryofjustice/fb-publisher)
- [fb-mock-services](https://github.com/ministryofjustice/fb-mock-services)

## Runbooks
Procedures and operations that the MoJ Forms Tech Team carry out, these
can be used for reference also.
<ul>
  <% sitemap.resources.select { |page| page.path =~ /html$/ }.each do |page| %>
    <% if page.data.category == "runbooks" %>
        <li>
            [<%= page.data.title %>](<%= page.url %>)
        </li>
    <% end %>
<% end %>
</ul>

## [How We Work](/documentation/how-we-work.html)
Documentation on how the technical team works and the process for doing awesome work.

## [Incident Process](/documentation/so-you-are-having-an-incident.html)
Our process for managing incidents

##Architecture
#### Architecture Decision Records
To understand why we are recording decisions and how we are doing it, please see ADR-001.

<% sitemap.resources.select { |page| page.path =~ /html$/ }.each do |page| %>
    <% if page.data.category == "adr" %>
        <%= page.data.statusicon %> [<%= page.data.reference %> - <%= page.data.title %>](<%= page.url %>) (<%= page.data.status %>)
    <% end %>
<% end %>

Statuses:
🤔 Proposed
✅ Accepted
❌ Rejected
♻️ Amended
⌛️ Superseded

#### [Architectural principles for MOJ Forms](/documentation/architectural-principles-for-form-builder.html)


## Legacy Form Builder

[Jumping off point for the Legacy Form Builder Documentation](https://github.com/ministryofjustice/form-builder) [to be Archived]

[The Legacy Form Builder Guide and Runbook](https://github.com/ministryofjustice/fb-guide-and-runbook) [to be Archived]

## Updating the Tech Docs
* Write content tips
* run local
* Raise PR
* Merge

## More Information
* [MOJ Technical Guidance](https://ministryofjustice.github.io/technical-guidance/#moj-technical-guidance)
* [Cyber and Technical Security Guidance](https://ministryofjustice.github.io/security-guidance/#cyber-and-technical-security-guidance)
* [MOJ Acronyms](https://ministryofjustice.github.io/acronyms/)
